# Виртуальное окружение
venv/
ENV/
env/

# Секретные ключи и настройки подключения
.env

# Кэш Python и Polars
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Конфиденциальные данные проекта (выгрузки Яндекса)
data/input/
data/archive/
*.xlsx
*.xls
*.csv

# Настройки среды разработки (VS Code / PyCharm / Jupyter)
.vscode/
.idea/
.ipynb_checkpoints/
